<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>This is Emp form.</h1>
        <form action="javascript:void(0)" method="post">
            {{emp_form.as_p}}
        <input type="submit" value="Employee Create">
        </form><hr>
    </div>
    
    <div>
        <h1>This is Off form.</h1>
        <form action="javascript:void(0)" method="post">
            {{off_form.as_p}}
            <input type="submit" value="Office Create">
        </form>
    </div>
        
</body>
</html>